
  <form>
  
      <mat-label>Select Scheme </mat-label>
      <!-- <input matInput placeholder="Input placeholder" /> -->
      <select matNativeControl  placeholder="Select Scheme" #food>
        <option value="ProductRefData">ProductRefData</option>
        <option value="TermsheetRefData">TermsheetRefData</option>
      </select>
  
  <br/> 
  <br/> 
  <br/>
    
      <mat-label>Select Type </mat-label>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Import</mat-radio-button>
        <mat-radio-button value="2">Export</mat-radio-button>
      </mat-radio-group>
      <br/> 
      <br/> 
      <br/>
      
   
        <button>Upload</button>&nbsp;
        <button>Download</button>
    

    
  </form>
